body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a.social {
  margin: 0 0.5rem;
  transition: transform 250ms;
  display: inline-block;
}
a.youtube {
  color: whitesmoke;
}

a.facebook {
  color: whitesmoke;
}

a.twitter {
  color: whitesmoke;
}
a.social:hover {
  transform: translateY(-2px);
}
a.instagram {
  color: whitesmoke;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
